<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Bienvenue Jacques</title>
</head>
<body>
    <h1>Bonjour Jacques 👋</h1>
    <p>La quasi-totalité des actes Lefort retrouvés aux archives de l’Oise entre 1550 et 1600 sont retrouvés à Verberie (211 sur 282) et on ne trouve presque aucun Lefort en Seine et Marne, Aisne, Somme, Eure, Val d’Oise, Seine Maritime 
Les départements proches de l’Oise entre ces dates (1550-1600). Verberie, Duvy, Béthisy Autheuil et Marolles sont très proches 
 
1-Raoul Lefort né vers 1518 marié à Catherine Bizet 
sous le règne d’Henri II d’où :
   1-Thibauld Lefort l’ainé né avant 1555, sous le règne de François II, marié avant 1573 à Renaude de la ROUE à Verberie, remarié à Perette Tellier (?) en 1608 avec contrat du 21-09-1608 marchand chanvrier à Verberie 
ou  
1-Thibauld Lefort le jeune né et décédé à Verberie1586-1661 sous le règne d’Henri IV et marié en 1607 à Verberie à Margueritte Dehorry née à Verberie en 1566-décédée à Béthisy St Pierre en 1622 en Picardie, Mtre tailleur d’habits  En 1608 « le grand hiver  -26°C à Paris. 24.000 morts de froid à Paris durant le mois de janvier. 
 !</p>
</body>
</html>
